<div class="chart-container">
  <div class="chart-header">
    <h3>Price Chart (Last 60s)</h3>
    <span class="chart-info">{{ chartData().length }} data points</span>
  </div>

  @if (chartData().length > 0) {
    <div class="chart-wrapper">
      <ngx-charts-line-chart
        [results]="formattedChartData()"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [timeline]="false"
        [animations]="true"
        [scheme]="colorScheme"
        [curve]="curve"
        [autoScale]="true"
        [gradient]="true"
        [xAxisTickFormatting]="formatXAxis"
        [yAxisTickFormatting]="formatYAxis"
      >
      </ngx-charts-line-chart>
    </div>
  } @else {
    <div class="chart-loading">
      <div class="loading-spinner"></div>
      <p>Collecting data...</p>
    </div>
  }
</div>
